@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-root {
  --rdp-accent-color: #01b0cb; /* Change the accent color to indigo. */
  --rdp-accent-background-color: #dffbff; /* Change the accent background color. */
  --rdp-day_button-border-radius: 8px;
  --rdp-selected-font: bold medium var(--rdp-font-family);
}

@layer base {
  body {
    @apply font-display antialiased text-gray-900;
  }
}

/* Custom scrollbar styles */
.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #057c8e; 
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(172, 201, 229); 
}

@layer components {
  .input-base {
    @apply w-full px-4 py-3.5 bg-gray-50 border border-gray-100 rounded-lg 
           focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary 
           transition-colors text-gray-700;
  }
  
  .btn-base {
    @apply w-full py-3.5 rounded-lg font-semibold transition-colors duration-150;
  }
  
  .btn-primary {
    @apply w-full bg-primary text-white py-3.5 rounded-xl font-semibold 
           hover:bg-primary/90 active:bg-primary/95 transition-all duration-300 
           shadow-md hover:shadow-lg hover:-translate-y-0.5;
  }
  
  .btn-outline {
    @apply w-full border-2 border-primary text-primary py-3.5 rounded-xl font-semibold 
           hover:bg-primary hover:text-white active:bg-primary/90 transition-all duration-300 
           hover:shadow-md;
  }

  .icon-btn {
    @apply text-[22px] text-slate-300 cursor-pointer hover:text-red-500;
  }

  .model-box {
    @apply w-[80vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-14 p-5 overflow-y-scroll scrollbar z-50; 
  }

  .btn-small {
    @apply flex items-center gap-1 text-xs font-medium bg-cyan-50 text-primary shadow-cyan-100/0 border border-cyan-100 hover:bg-primary hover:text-white rounded px-3 py-[3px];
  }

  .btn-delete {
    @apply bg-rose-500 text-rose-100 shadow-rose-100/50 border border-rose-100 hover:bg-rose-600 hover:text-white;
  }

  .input-label {
    @apply text-xs text-slate-400;
  }  
}


